h1{	
	text-align: center;
	color: grey;
	font-style: italic;
	font-size: 40px;
	text-shadow: 8px 8px 16px black; 
}
h2{
	text-align: center;
	color: black;
	font-style: italic;
	font-size:45px;
	text-shadow: 8px 8px 16px grey; 
}
button{
	color: grey;
	background-color: black;
}
body{
	background-color: Grey;
	background-image: url('BrooklynBridge.jpg'); 
}